
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Outfit&family=Roboto:wght@300&display=swap');
  
 


:root {

    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
    --White: hsl(0, 0%, 100%);
    

}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;


}

body{

    background-color: var(--Lightgray);
   


}


.content{

    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{

    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
    padding: 1rem;
    border-radius: 1rem;
    font-family: 'Oswald', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    gap: 1rem;
    

}

h2{
    line-height: 1.5rem;
    user-select: none;
    
}

p{
    line-height: 1.3rem;
    user-select: none;
}

div img{
    width: 330px;
    border-radius: 1rem;
    cursor: pointer;
}